In [ ]:
!pip install joblib
!pip install pandas
!pip install sklearn

# ML
- [Self-driving Cars]()
- [Robotics]()
- [Language Processing]()
- [Vision Processing]()
- [Forecasting Stock Market Trends]()

# Steps
1. [Import the Data]()
2. [Clean the Data]()
3. [Split the Data into Training/Test Sets]()
4. [Create a Model]()
5. [Train the Model]()
6. [Make Predictions]()
7. [Evaluate and Improve]()

# Libraries
- Numpy
- Pandas
- MatPlotLib
- :ikit-Lea

In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('music.csv')

In [6]:
print(f' df.shape: {df.shape}')
print(f'Rows\n df.shape[0]: {df.shape[0]}')
print(f'Columns\n df.shape[1]: {df.shape[1]}')

 df.shape: (18, 3)
Rows
 df.shape[0]: 18
Columns
 df.shape[1]: 3

In [7]:
df.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

In [8]:
df.values[:, 2]

array(['HipHop', 'HipHop', 'HipHop', 'Jazz', 'Jazz', 'Jazz', 'Classical',
       'Classical', 'Classical', 'Dance', 'Dance', 'Dance', 'Acoustic',
       'Acoustic', 'Acoustic', 'Classical', 'Classical', 'Classical'],
      dtype=object)

In [9]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [10]:
print(df)

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [11]:
X = df.drop(columns=[' genre'])
print(X)

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [12]:
y = df[' genre']
print(y)

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name:  genre, dtype: object

In [13]:
model = DecisionTreeClassifier()
model.fit(X, y)
p = model.predict( [ [21, 0], [22, 1] ] )
p

c:\Anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Dance', 'HipHop'], dtype=object)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
model.fit(X, y)

predictions = model.predict(X)
score = accuracy_score(y, predictions)

print(score)

1.0

In [ ]:
from sklearn.externals import joblib

joblib.dump(model, 'music-recommender.joblib')
model1 = joblib.load('music-recommender.joblib')

p = model1.predict([ [2, 1] ])